.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    z-index: 10;
    background-color: #1c1c21;
    border: 1px solid rgba(76, 76, 255, 2);
    border-radius: 40px;
    overflow: hidden;
}

.button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}