.item {
    max-width: 284px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.price {
    display: flex;
    justify-content: center;
}

.caption {
    text-align: center;
}