.item {
    width: 284px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.price {
    display: flex;
    justify-content: center;
}

.caption {
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
}