.container {
    margin: 180px 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input,
.input > div,
.input > div > div {
  width: 100%;
}

.link {
    text-decoration: none;
    color: var(--colors-interface-accent);
}