.header {
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.nav {
    max-width: 1280px;
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr;
    justify-content: stretch;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.activeLink {
    color: var(--text-primary-color);
}

.item {
    display: flex;
    justify-content: center;
}

.item_right {
    justify-self: flex-end;
}